*{
	font-family: sans-serif;
	color: #333;
}

body {
	
}

div.tooltip {   
	position: absolute;
	color: #fff;            
	width: 160px;                         
	padding: 8px;             
	font: 12px sans-serif;        
	background: #555;   
	border: 0px;      
	border-radius: 4px;           
	pointer-events: none;         
}
circle {
	cursor:pointer;
}
.legend {
	font-size:14px;
}
